<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>CR Pets</title>
</head>
<body>
    <div id="container">

        <h1>All Pets</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            {% for pet in pets %}
            <tr>
                <td>{{pet['id']}}</td>
                <td>{{pet['name']}}</td>
                <td>{{pet['type']}}</td>
            </tr>
            {% endfor %}
        </table>
        <h1>Add a pet</h1>
        <form action="/create_pet" method="POST">
            <p>Name: <input type="text" name="name"></p>
            <p>Type: <input type="text" name="type"></p>
            <p><input type="submit" value="Add Pet"></p>
        </form>
    </div>