<form id='new_device_type' class="row" method="POST">
    <div class='col-4'>
        <div class='row p-2'>
            <h6>Edit Router: {{router.name}}</h6>
            <input name='router_name' value="{{router.name}}">
            <select class='form_control' function='index' name='router_type_id'>
                {% for rtr_type in rtr_types %}
                {% if rtr_type.id == router.router_type.id %}
                <option selected value='{{rtr_type.id}}'>{{rtr_type.model}}</option>
                {% else %}
                <option value='{{rtr_type.id}}'>{{rtr_type.model}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button class='form_button' data-url='/router/update/{{router.id}}' type='button'>Update</button> 
        </div>
    </div>
    <div class='col-8'>
        <table class='table'>
            <thead>
                <th>SLOT</th>
                <th>Linecard Type</th>
                <th>Interface</th>
            </thead>
            <tbody>
                {% for i in range(router.router_type.num_slots) %}
                <tr>
                    <td>{{i}}</td>
                    <td>
                        <select class='form_control' name='slot_{{i}}'>
                            <option value='None'>NONE</option>                        
                            {% for linecard_type in linecard_types %}
                            {% if linecard_type.id == current_linecards[i].linecard_type_id %}
                            <option selected value='{{linecard_type.id}}'>{{linecard_type.model}}</option>
                            {% else %}
                            <option value='{{linecard_type.id}}'>{{linecard_type.model}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#interface_{{i}}">Show Interface Data</button>
                        <table class='table-sm collapse' id="interface_{{i}}">
                            <thead>
                                <tr>
                                    <th>Int #</th>
                                    <th>Interface Type</th>
                                    <th>Interface Profile</th>
                                    <th>Functions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0</td>
                                    <td>CFP2</td>
                                    <td>Backbone</td>
                                    <td>
                                        <button type='button' class='btn btn-info'>Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>CFP2</td>
                                    <td>Backbone</td>
                                    <td>
                                        <button type='button' class='btn btn-info'>Edit</button>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>2</td>
                                    <td>CFP2</td>
                                    <td>Transit</td>
                                    <td>
                                        <button type='button' class='btn btn-info'>Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>CFP2</td>
                                    <td>Public Peering</td>
                                    <td>
                                        <button type='button' class='btn btn-info'>Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>    
                    </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        </ul>    
    </div>
</form>


