<form id='new_device_type' class="row" method="POST">
    <div class='col-4'>
        <div class='row p-2'>
            <h6>Edit Router: {{router.name}}</h6>
            <input name='name' value="{{router.name}}">
            <select class='form_control' function='index' name='router_type_id'>
                {% for rtr_type in rtr_types %}
                {% if rtr_type.id == router.router_type.id %}
                <option selected value='{{rtr_type.id}}'>{{rtr_type.model}}</option>
                {% else %}
                <option value='{{rtr_type.id}}'>{{rtr_type.model}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button class='form_button' data-url='/router/update/{{router.id}}' type='button'>Update</button> 
        </div>
    </div>
    <div class='col-8'>
        <table class='table'>
            <thead>
                <th>SLOT</th>
                <th>Linecard Type</th>
            </thead>
            <tbody>
                {% for i in range(router.router_type.num_slots) %}
                {% set slot_num = "slot_"+i|string %}
                {{slot_num}}
                <tr>
                    <td>{{i}}</td>
                    <td>
                        <select class='form_control' name='slot_{{i}}'>
                            <option value='None'>NONE</option>
                            {% for linecard_type in linecard_types %}
                            <option value='{{linecard_type.id}}'>{{linecard_type.model}}</option>
                            {% endfor %}
                        </select>
                    </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        </ul>    
    </div>
</form>


