<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Thought Board</title>
</head>
<body>
    <div class="container">
        <div class="row p-4">
            <div class="col-8">
            </div>
            <div class="col-4">
                <a class="p-2" href='/thoughts'>Dashboard</a>    
                <a class="p-2" href='/logout'>Logout</a>
            </div>
        </div> 
        <div class="row p-4">
            <div class="col-2">
                <h5>{{thought.first_name}} says:</h5>
            </div>
            <div class="col-6">
                <div class="row p-2 border">
                    <p class="w-100">{{thought.description}}</p>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                        {% if liked_by_me == False %}
                        <form action="/thought/{{thought.id}}/like" method="POST">
                            <input class="col btn btn-success" type="submit" name="like" value="Like">
                        </form>
                        {% else %}
                        <form action="/thought/{{thought.id}}/unlike" method="POST">
                            <input class="col btn btn-warning" type="submit" name="unlike" value="Unlike">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-4">
            <h5>People who like this thought:</h5>
        </div>
        <div class="row col-8 p-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                {% for like in likes %}
                <tbody>
                    <tr>
                        <td>{{like.first_name}}</td>
                        <td>{{like.last_name}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>          

