<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Checkerboard Assignment</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
            {% for user in users: %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>